# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ensime'
      'submenu': [
        {
          'label': 'Start Server'
          'command': 'atom-ensime:start'
        }
        {
          'label': 'Stop Server'
          'command': 'atom-ensime:stop'
        }
        {
          'label': 'Update Server'
          'command': 'atom-ensime:update'
        }
        {
          type: 'separator'
        }
        {
          'label': 'Typecheck All'
          'command': 'atom-ensime:typecheck-all'
        }
        {
          'label': 'Typecheck Buffer'
          'command': 'atom-ensime:typecheck-buffer'
        }
      ]
    ]
  }
]
